@import "../fonts/stylesheet.css";

#recipiente {
	width: 800px;
	border: 0px 1px 0px 1px solid #d3d3d3;

	background: -webkit-gradient(linear, left top, left bottom, from(#f6f1b2), to(#4599b2)) repeat-X;
	background: -moz-linear-gradient(top, #f6f1b2, #4599b2);
	-ms-linear-gradient(left,  #f6f1b2, #4599b2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f1b2, endColorstr=#4599b2);
}

#cabecalho h1 {
	font-family: 'Ravie';
	font-size: 36px;
	color: #e90c0c;
}


#cabecalho h2 {
	font-family: "Trebuchet MS";
	font-size: 24px;
	color: #333;
}

#cabecalho mark {
	color: #d027aa;
}

#conteudo {
	width: 646px;
	border: #d3d3d3;

}
#lateral {
	width: 154px;
	box-sizing: border-box;
}

#lateral h2 {
	font-family: 'Verdana';
	color: #333 bold;
	font-size: 48px; 
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

#cardapio {
	background-color: #fff;
	width: 646px;
	box-sizing: border-box;
	position: absolute;
	float: left;

	/*?*/
	opacity: 0.2;
    filter: alpha(opacity=20);
    border: 1px solid #aac0ae;
}

img {
	/*position: absolute;*/
}

#rodape img {
	margin-bottom:25px; 
}