@import "../fonts/stylesheet.css";

body {

	width: 800px;
	margin: 0 auto;
}

#recipiente {
	width: 800px;
	border: 0px 1px 0px 1px solid #d3d3d3;

	background: -webkit-gradient(linear, left top, left bottom, from(#f6f1b2), to(#4599b2)) repeat-X;
	background: -moz-linear-gradient(top, #f6f1b2, #4599b2);
	-ms-linear-gradient(left,  #f6f1b2, #4599b2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f1b2, endColorstr=#4599b2);
}
#cabecalho {
	position: absolute;
}

#cabecalho h1, h2 {
	margin-left: 154px;	
	font-family: 'Trebuchet MS','Arial', 'Helvetica', 'sans-serif';
}

#cabecalho h1 {
	margin-bottom: 0;
	font-family: 'Ravie';
	font-size: 36px;
	color: #e90c0c;
}


#cabecalho > h2 {
	margin-top: 0;
	font-size: 24px;
	color: #333;
	text-align: right;	
	padding-left: 120px;
}

#cabecalho span {
	color: #d027aa;
}

#conteudo {
	width: 800px;
	border: #d3d3d3;
	box-sizing: border-box;

}
#lateral {
	width: 154px;
	box-sizing: border-box;
}

#lateral > h2 {
	margin-left: 0px;
	margin-top: 213px;
	font-family: 'Verdana';
	color: #333;
	font-weight: bold;
	font-size: 48px;
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);

}

#siri {
	margin-top: 7px;
	position: relative;
	right: 10px;
}

#peixe {
	position: relative;
	margin-top: 14px;
	right: 44px;
}

#bolhas {
	position: relative;
	margin-top: 15px;
	left: 42px;
}


#rodape img {
	/*margin-bottom:25px;
	margin-left: 15px;
	margin-top: 46px;
     float: right;

	position: relative;
    left: 705px;*/
    position: absolute;
    left: 965px;
    top: 663px;
    margin-top: 46px;
    margin-bottom: 25px;
}



#cardapio {
	background-color: rgba(255,255,255,0.2);
	font-family: 'Verdana';
	font-size: 14px;
	color: #333;
	width: 646px;
	box-sizing: border-box;
 	border: 1px solid #aac0ae;
	position: absolute;
	top: 105px;
	margin-left: 154px;
	padding: 0px 10px 10px 10px;
}

#cardapio > div{
	margin-bottom: 11px;	
}

#cardapio > div > span {
	float: right;	
}

#cardapio #last_div {
	margin-bottom: 40px;
}

#ticket img {
	margin: 0px 0px 0px 0px;
    position: absolute;
    left: -69px;
    top: 295px;
}

#ticket img:hover {
	left: 0px;
}
